# Análise Exploratória de Dados

In [1]:
from IPython.display import display, Markdown
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

colors = ["#9467bd", "#057476", "#FF7A00"]
sns.set_theme(style="ticks")
sns.set_palette(sns.color_palette(colors))

##Pense no que quer importar, no que é necessário

## 1. Leitura do Conjunto de Dados

In [2]:
df = pd.read_csv('../data/raw/data.csv')
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

## 2. Descrição do Dados

In [6]:
![](Gorjetas.png)

/bin/bash: -c: line 1: syntax error near unexpected token `Gorjetas.png'
/bin/bash: -c: line 1: `[](Gorjetas.png)'

# Perguntas de Partida e Hipóteses

# Análise exploratória de dados